*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x:hidden;
    overflow-y: hidden;
    

}

.display{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#08001f, #30197d);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 25%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);   
}

.clockie{
    width: 100%;
    height: 100% ;
    display: flex ;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);


}

h1{
    width: fit-content;
    height: fit-content;
   
}
.container::before{
    content: '';
    width: 25vh;
    height: 25vh;
    background: rgb(58, 58, 168);
    border-radius:5px;
    position: absolute;
    left: -12%;
    top:-80%;
    z-index: -1;
    
    
    

}

.container::after{
    content: '';
    width: 25%;
    height: 25%;
    background: rgb(99, 38, 157);
    border-radius:50%;
    position: absolute;
    right: -12%;
    bottom: -80%;
   z-index: -1;


}

.clockie span{

    font-size: 60px;
    width: 110px ;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clockie > #hr::after{
    content: 'HOURS';
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left:50%;
    transform: translate(-50%);
}

.clockie > #min::after{
    content: 'Minutes';
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left:50%;
    transform: translate(-50%);
}

.clockie > #sec::after{
    content: 'Seconds';
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left:50%;
    transform: translate(-50%);
}

.display H1{
align-self:self-end;
font-size: 60px;
    width: 210px ;
    display: inline-block;
    text-align: center;
    position: relative;
}

.display > #day::before{
    content: 'Week Day';
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 30%;
    position: absolute;
    top: -15px;
    left:50%;
    transform: translate(-50%);

}

.display > #dom::before{
    content: 'Date';
    font-family: 'Poppins', sans-serif;
    font-size: 30%;
    position: absolute;
    top: -15px;
    left:50%;
    transform: translate(-50%);

}

.display > #month::before{
    content: 'Month';
    font-family: 'Poppins', sans-serif;
    font-size: 30%;
    position: absolute;
    top: -15px;
    left:50%;
    transform: translate(-50%);

}
.display > #year::before{
    content: 'Year';
    font-family: 'Poppins', sans-serif;
    font-size: 30%;
    position: absolute;
    top: -15px;
    left:50%;
    transform: translate(-50%);

}

.display h2{
    align-self:self-start;
    font-family: 'Poppins', sans-serif;
    

}

@media (max-width: 768px) {
     .display{
        width: 100%;
        height: 100%;
    }
    .container {
        width: 30%;
        height: 15%;
    }

    .clockie span {
        font-size: 40px;
        width: 80px;
    }

    .display h1 {
        font-size: 40px;
        width: 50%;
    }
    .display>#month{
        padding-right: 15px;
    }
    .container::before{
        top: -20%;
    }
    .container::after{
        top: 50%;
    }
    .display > #day::before,
    .display > #dom::before,
    .display > #month::before,
    .display > #year::before{
        font-size:12px ;
        visibility: hidden;
    }

    
}

@media (max-width: 480px) {
    .display{
        width: 100%;
        height: 100%;
    }
    .container {
        width: 40%;
        height: 20%;
    }

    .clockie span {
        font-size: 30px;
        width: 60px;
    }

    .display h1 {
        font-size: 30px;
        width: auto;
    }

    .clockie > #hr::after,
    .clockie > #min::after,
    .clockie > #sec::after {
        font-size: 12px;

    }

    .container::before{
        bottom: 20%;
    }
    .display > #day::before,
    .display > #dom::before,
    .display > #month::before,
    .display > #year::before{
        font-size:12px ;
        visibility: hidden;
    }

    .display>#month{
        padding-right: 40px;
    }
}

